# Final Project-Group 5 Data Science Class

## Step 0: Dataset Description

The dataset gives a detailed view of sales transactions, including customer demographics (age, gender, location), product details, and financial metrics like cost, revenue, and profit. It supports analysis of purchasing behavior across demographic groups and trends over time based on product quantity sold. Containing both numeric and categorical data, it enables multi-level analysis by product, customer, and region using various visualization and statistical techniques. It has 13 columns and 34865 rows.

## Step 1: Data Pipeline & Preparation

### 1.1. Data Acquisition

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

from statsmodels.tsa.arima.model import ARIMA

from IPython.display import display
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [8]:
pd.set_option('display.max_columns', None)
df = pd.read_csv(r"C:\Users\hp probook\Desktop\data_science_group5\Group 5-Dataset for Final Project.csv")
df.head()
print(df)

       index       Date    Year     Month  Customer Age Customer Gender        Country           State Product Category     Sub Category  Quantity  Unit Cost   Unit Price    Cost      Revenue
0          0  2/19/2016  2016.0  February          29.0               F  United States      Washington      Accessories  Tires and Tubes       1.0      80.00   109.000000    80.0   109.000000
1          1  2/20/2016  2016.0  February          29.0               F  United States      Washington         Clothing           Gloves       2.0      24.50    28.500000    49.0    57.000000
2          2  2/27/2016  2016.0  February          29.0               F  United States      Washington      Accessories  Tires and Tubes       3.0       3.67     5.000000    11.0    15.000000
3          3  3/12/2016  2016.0     March          29.0               F  United States      Washington      Accessories  Tires and Tubes       2.0      87.50   116.500000   175.0   233.000000
4          4  3/12/2016  2016.0     March          29.0               F  United States      Washington      Accessories  Tires and Tubes       3.0      35.00    41.666667   105.0   125.000000
...      ...        ...     ...       ...           ...             ...            ...             ...              ...              ...       ...        ...          ...     ...          ...
34862  34862   2/7/2016  2016.0  February          38.0               M         France  Hauts de Seine            Bikes   Mountain Bikes       2.0    1160.00   985.500000  2320.0  1971.000000
34863  34863  3/13/2015  2015.0     March          38.0               M         France  Hauts de Seine            Bikes   Mountain Bikes       1.0    2049.00  1583.000000  2049.0  1583.000000
34864  34864   4/5/2015  2015.0     April          38.0               M         France  Hauts de Seine            Bikes   Mountain Bikes       3.0     683.00   560.666667  2049.0  1682.000000
34865  34865  8/30/2015  2015.0    August          38.0               M         France  Hauts de Seine            Bikes   Mountain Bikes       1.0    2320.00  1568.000000  2320.0  1568.000000
34866  34866        NaN     NaN       NaN           NaN             NaN            NaN             NaN              NaN              NaN       NaN        NaN          NaN     NaN   641.532095

[34867 rows x 15 columns]

### 1.2 Check Data Types

In [9]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34867 entries, 0 to 34866
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             34867 non-null  int64
 1   Date              34866 non-null  object
 2   Year              34866 non-null  float64
 3   Month             34866 non-null  object
 4   Customer Age      34716 non-null  float64
 5   Customer Gender   34766 non-null  object
 6   Country           34746 non-null  object
 7   State             34866 non-null  object
 8   Product Category  34866 non-null  object
 9   Sub Category      34866 non-null  object
 10  Quantity          34666 non-null  float64
 11  Unit Cost         34686 non-null  float64
 12  Unit Price        34706 non-null  float64
 13  Cost              34866 non-null  float64
 14  Revenue           34567 non-null  float64
dtypes: float64(7), int64(1), object(7)
memory usage: 4.0+ MB
None
index                 0
Date                  1
Year                  1
Month                 1
Customer Age        151
Customer Gender     101
Country             121
State                 1
Product Category      1
Sub Category          1
Quantity            201
Unit Cost           181
Unit Price          161
Cost                  1
Revenue             300
dtype: int64

### 1.3. Handle Duplicates & Outliers

In [13]:
df.drop_duplicates(inplace=True)

for col in ['Quantity', 'Unit Cost', 'Unit Price', 'Revenue']:
    q_low = df[col].quantile(0.01)
    q_hi  = df[col].quantile(0.99)
    df = df[(df[col] >= q_low) & (df[col] <= q_hi)]
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 30496 entries, 0 to 34864
Data columns (total 76 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index                           30496 non-null  int64
 1   Date                            30496 non-null  datetime64[ns]
 2   Year                            30496 non-null  float64
 3   Month                           30496 non-null  object
 4   Customer Age                    30368 non-null  float64
 5   Quantity                        30496 non-null  float64
 6   Unit Cost                       30496 non-null  float64
 7   Unit Price                      30496 non-null  float64
 8   Cost                            30496 non-null  float64
 9   Revenue                         30496 non-null  float64
 10  Customer Gender_M               30496 non-null  bool
 11  Country_Germany                 30496 non-null  bool
 12  Country_United Kingdom          30496 non-null  bool
 13  Country_United States           30496 non-null  bool
 14  State_Arizona                   30496 non-null  bool
 15  State_Bayern                    30496 non-null  bool
 16  State_Brandenburg               30496 non-null  bool
 17  State_California                30496 non-null  bool
 18  State_Charente-Maritime         30496 non-null  bool
 19  State_England                   30496 non-null  bool
 20  State_Essonne                   30496 non-null  bool
 21  State_Florida                   30496 non-null  bool
 22  State_Garonne (Haute)           30496 non-null  bool
 23  State_Georgia                   30496 non-null  bool
 24  State_Hamburg                   30496 non-null  bool
 25  State_Hauts de Seine            30496 non-null  bool
 26  State_Hessen                    30496 non-null  bool
 27  State_Illinois                  30496 non-null  bool
 28  State_Kentucky                  30496 non-null  bool
 29  State_Loir et Cher              30496 non-null  bool
 30  State_Loiret                    30496 non-null  bool
 31  State_Massachusetts             30496 non-null  bool
 32  State_Minnesota                 30496 non-null  bool
 33  State_Mississippi               30496 non-null  bool
 34  State_Missouri                  30496 non-null  bool
 35  State_Montana                   30496 non-null  bool
 36  State_Moselle                   30496 non-null  bool
 37  State_New York                  30496 non-null  bool
 38  State_Nord                      30496 non-null  bool
 39  State_Nordrhein-Westfalen       30496 non-null  bool
 40  State_North Carolina            30496 non-null  bool
 41  State_Ohio                      30496 non-null  bool
 42  State_Oregon                    30496 non-null  bool
 43  State_Pas de Calais             30496 non-null  bool
 44  State_Saarland                  30496 non-null  bool
 45  State_Seine (Paris)             30496 non-null  bool
 46  State_Seine Saint Denis         30496 non-null  bool
 47  State_Seine et Marne            30496 non-null  bool
 48  State_Somme                     30496 non-null  bool
 49  State_South Carolina            30496 non-null  bool
 50  State_Texas                     30496 non-null  bool
 51  State_Utah                      30496 non-null  bool
 52  State_Val d'Oise                30496 non-null  bool
 53  State_Val de Marne              30496 non-null  bool
 54  State_Virginia                  30496 non-null  bool
 55  State_Washington                30496 non-null  bool
 56  State_Wyoming                   30496 non-null  bool
 57  State_Yveline                   30496 non-null  bool
 58  Product Category_Bikes          30496 non-null  bool
 59  Product Category_Clothing       30496 non-null  bool
 60  Sub Category_Bike Stands        30496 non-null  bool
 61  Sub Category_Bottles and Cages  30496 non-null  bool
 62  Sub Category_Caps               30496 non-null  bool
 63  Sub Category_Cleaners           30496 non-null  bool
 64  Sub Category_Fenders            30496 non-null  bool
 65  Sub Category_Gloves             30496 non-null  bool
 66  Sub Category_Helmets            30496 non-null  bool
 67  Sub Category_Hydration Packs    30496 non-null  bool
 68  Sub Category_Jerseys            30496 non-null  bool
 69  Sub Category_Mountain Bikes     30496 non-null  bool
 70  Sub Category_Road Bikes         30496 non-null  bool
 71  Sub Category_Shorts             30496 non-null  bool
 72  Sub Category_Socks              30496 non-null  bool
 73  Sub Category_Tires and Tubes    30496 non-null  bool
 74  Sub Category_Touring Bikes      30496 non-null  bool
 75  Sub Category_Vests              30496 non-null  bool
dtypes: bool(66), datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 4.5+ MB
None
index                             0
Date                              0
Year                              0
Month                             0
Customer Age                    128
                               ...
Sub Category_Shorts               0
Sub Category_Socks                0
Sub Category_Tires and Tubes      0
Sub Category_Touring Bikes        0
Sub Category_Vests                0
Length: 76, dtype: int64

### 1.4 Fill the Missing Values

In [18]:
# Fill the missing values with the mean
df['Customer Age'] = df['Customer Age'].fillna(df['Customer Age'].mean())

### 1.5 Data Preparation Final Check

In [22]:
# 1. Check for Missing Values
print("Missing values in each column:")
print(df.isnull().sum())
print("\n")  # Add a new line for clarity

# 2. Check Data Types
print("Data types of each column:")
print(df.dtypes)
print("\n")

# 3. Summary Statistics
print("Summary statistics of the numerical columns:")
print(df.describe())
print("\n")

# 4. Check for Duplicates
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")
print("\n")

# 5. Validate Categorical Columns (Example: Check 'Month' and 'Customer Gender_M')
print("Unique values in 'Month' column:")
print(df['Month'].unique())
print("\n")

print("Unique values in 'Customer Gender_M' column:")
print(df['Customer Gender_M'].unique())
print("\n")

# 6. Final Review of Data Integrity (Show brief summary of the first few rows)
print("Dataset shape (rows, columns):")
print(df.shape)
print("\n")

print("Summary of the first few rows (column names, non-null counts, data types):")
print(df.info())

Missing values in each column:
index                           0
Date                            0
Year                            0
Month                           0
Customer Age                    0
                               ..
Sub Category_Shorts             0
Sub Category_Socks              0
Sub Category_Tires and Tubes    0
Sub Category_Touring Bikes      0
Sub Category_Vests              0
Length: 76, dtype: int64


Data types of each column:
index                                    int64
Date                            datetime64[ns]
Year                                   float64
Month                                   object
Customer Age                           float64
                                     ...
Sub Category_Shorts                       bool
Sub Category_Socks                        bool
Sub Category_Tires and Tubes              bool
Sub Category_Touring Bikes                bool
Sub Category_Vests                        bool
Length: 76, dtype: object


Summary statistics of the numerical columns:
              index                           Date          Year  Customer Age      Quantity     Unit Cost    Unit Price          Cost       Revenue
count  30496.000000                          30496  30496.000000  30496.000000  30496.000000  30496.000000  30496.000000  30496.000000  30496.000000
mean   17535.721242  2016-01-20 16:07:42.749213184   2015.569681     36.297221      2.022298    288.106775    322.453792    510.758427    567.565222
min        0.000000            2015-01-01 00:00:00   2015.000000     17.000000      1.000000      6.670000      9.666667     15.000000     23.000000
25%     8839.500000            2015-10-27 00:00:00   2015.000000     28.000000      1.000000     50.000000     61.000000     98.000000    116.000000
50%    17641.500000            2016-01-28 00:00:00   2016.000000     35.000000      2.000000    150.000000    179.500000    261.000000    320.000000
75%    26176.250000            2016-04-26 00:00:00   2016.000000     44.000000      3.000000    391.500000    465.000000    742.000000    823.250000
max    34864.000000            2016-07-31 00:00:00   2016.000000     87.000000      3.000000   2295.000000   1969.000000   2443.000000   2563.000000
std    10042.899507                            NaN      0.495129     11.108485      0.806817    338.524822    358.861681    581.014381    596.752007


Number of duplicate rows: 0


Unique values in 'Month' column:
['February' 'March' 'April' 'June' 'July' 'August' 'September' 'October'
 'November' 'December' 'May' 'January']


Unique values in 'Customer Gender_M' column:
[False  True]


Dataset shape (rows, columns):
(30496, 76)


Summary of the first few rows (column names, non-null counts, data types):
<class 'pandas.core.frame.DataFrame'>
Index: 30496 entries, 0 to 34864
Data columns (total 76 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index                           30496 non-null  int64
 1   Date                            30496 non-null  datetime64[ns]
 2   Year                            30496 non-null  float64
 3   Month                           30496 non-null  object
 4   Customer Age                    30496 non-null  float64
 5   Quantity                        30496 non-null  float64
 6   Unit Cost                       30496 non-null  float64
 7   Unit Price                      30496 non-null  float64
 8   Cost                            30496 non-null  float64
 9   Revenue                         30496 non-null  float64
 10  Customer Gender_M               30496 non-null  bool
 11  Country_Germany                 30496 non-null  bool
 12  Country_United Kingdom          30496 non-null  bool
 13  Country_United States           30496 non-null  bool
 14  State_Arizona                   30496 non-null  bool
 15  State_Bayern                    30496 non-null  bool
 16  State_Brandenburg               30496 non-null  bool
 17  State_California                30496 non-null  bool
 18  State_Charente-Maritime         30496 non-null  bool
 19  State_England                   30496 non-null  bool
 20  State_Essonne                   30496 non-null  bool
 21  State_Florida                   30496 non-null  bool
 22  State_Garonne (Haute)           30496 non-null  bool
 23  State_Georgia                   30496 non-null  bool
 24  State_Hamburg                   30496 non-null  bool
 25  State_Hauts de Seine            30496 non-null  bool
 26  State_Hessen                    30496 non-null  bool
 27  State_Illinois                  30496 non-null  bool
 28  State_Kentucky                  30496 non-null  bool
 29  State_Loir et Cher              30496 non-null  bool
 30  State_Loiret                    30496 non-null  bool
 31  State_Massachusetts             30496 non-null  bool
 32  State_Minnesota                 30496 non-null  bool
 33  State_Mississippi               30496 non-null  bool
 34  State_Missouri                  30496 non-null  bool
 35  State_Montana                   30496 non-null  bool
 36  State_Moselle                   30496 non-null  bool
 37  State_New York                  30496 non-null  bool
 38  State_Nord                      30496 non-null  bool
 39  State_Nordrhein-Westfalen       30496 non-null  bool
 40  State_North Carolina            30496 non-null  bool
 41  State_Ohio                      30496 non-null  bool
 42  State_Oregon                    30496 non-null  bool
 43  State_Pas de Calais             30496 non-null  bool
 44  State_Saarland                  30496 non-null  bool
 45  State_Seine (Paris)             30496 non-null  bool
 46  State_Seine Saint Denis         30496 non-null  bool
 47  State_Seine et Marne            30496 non-null  bool
 48  State_Somme                     30496 non-null  bool
 49  State_South Carolina            30496 non-null  bool
 50  State_Texas                     30496 non-null  bool
 51  State_Utah                      30496 non-null  bool
 52  State_Val d'Oise                30496 non-null  bool
 53  State_Val de Marne              30496 non-null  bool
 54  State_Virginia                  30496 non-null  bool
 55  State_Washington                30496 non-null  bool
 56  State_Wyoming                   30496 non-null  bool
 57  State_Yveline                   30496 non-null  bool
 58  Product Category_Bikes          30496 non-null  bool
 59  Product Category_Clothing       30496 non-null  bool
 60  Sub Category_Bike Stands        30496 non-null  bool
 61  Sub Category_Bottles and Cages  30496 non-null  bool
 62  Sub Category_Caps               30496 non-null  bool
 63  Sub Category_Cleaners           30496 non-null  bool
 64  Sub Category_Fenders            30496 non-null  bool
 65  Sub Category_Gloves             30496 non-null  bool
 66  Sub Category_Helmets            30496 non-null  bool
 67  Sub Category_Hydration Packs    30496 non-null  bool
 68  Sub Category_Jerseys            30496 non-null  bool
 69  Sub Category_Mountain Bikes     30496 non-null  bool
 70  Sub Category_Road Bikes         30496 non-null  bool
 71  Sub Category_Shorts             30496 non-null  bool
 72  Sub Category_Socks              30496 non-null  bool
 73  Sub Category_Tires and Tubes    30496 non-null  bool
 74  Sub Category_Touring Bikes      30496 non-null  bool
 75  Sub Category_Vests              30496 non-null  bool
dtypes: bool(66), datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 4.5+ MB
None

#### Data Preparation Narrative Conclusion

Based on the above critical checks for missing values, data types, duplicates, and column cleanliness, our dataset looks clean and ready for analysis. The following will be the exploration data analysis.

## Step 2: Exploratory Data Analysis (EDA)

### 2.1 Descriptive Statistics